:root{
  --accent: #3f3f3f;
  --dark-primary: #202020;
  --dark-secondary: #010101;
  --background-accent:#1a1a1a;
  --dark-highlight:#050505;
  --notif: #3f3f3f;
  --discord-logo: 1;
  --theme-logo: 0;
  --td-highlight: rgba(0, 0, 0, .5);
  --td-overlay: rgba(0, 0, 0, .70);
  --td-primary: rgba(0, 0, 0, .3);
  --td-secondary: rgba(0, 0, 0, .1);
}
#app-mount 
div[class*="titleBar-"]{
  background:rgba(0,0,0,0.9)
}
div[class*="appMount-"]{
  background:transparent
}
div[class*="app-"]:first-child{
  background:var(--td-overlay)
}
div[class*="withFrame-"]{
  margin-top:0;padding-top:4px
}
.theme-dark div[class*="autocomplete-"]{background-color:#080808 !important;border:0 !important;border-radius:0;box-shadow:none}
.theme-dark nav[class*="guilds-"] div[class*="listItem"]:last-child div[class*="circleIconButton-"]{
  background-color:transparent
}
.theme-dark nav[class*="guilds-"] div[class*="listItem"]:last-child div[class*="circleIconButton-"] svg{color:#43b581}
.theme-dark div[class*="cardPrimaryEditable-"],
.theme-dark div[class*="authedApp-"]{
  background:var(--td-primary)
}
.theme-dark div[class*="base-"] div[class*="container-1D"] section[class*="themed-"]{
  background:transparent !important
}
.theme-dark div[class*="base-"],
.theme-dark div[class*="bg-"]{
  background:transparent
}
.theme-dark span[class*="expandedFolderBackground-"]{
  background-color:rgba(255,255,255,0.1) !important
}
.theme-dark div[class*="channelTextAreaEnabled-"] div[class*="inner-"],
.theme-dark div[class*="channelTextArea-"] div[class*="inner-"],
.theme-dark div[class*="channelTextAreaEnabledNoAttach"],
.theme-dark div[class*="channelTextAreaDisabled-"] div[class*="innerDisabled-"],
.theme-dark 
.channel-text-area-default,
.theme-dark div[class*="channelTextArea-"]{
  background:var(--td-secondary)
}
.theme-dark div[class*="userSettingsAccount-"] div[class*="cardPrimary-"],
.theme-dark div[class*="standardSidebarView-"] div[class*="cardPrimary-"]{
  background:var(--td-primary)
}
.theme-dark div[class*="chat-"] div[class*="container-"]:not([class*="isMentioned"]),
.theme-dark div[class*="activityFeed-"] div[class*="container-"]:not([class*="isMentioned"]),
.theme-dark div[class*="container-"] div[class*="container-"]:not([class*="isMentioned"]){
  background:transparent !important
}
.theme-dark div[class*="chat-"] div[class*="container-1r"],
.theme-dark div[class*="activityFeed-"] div[class*="container-1r"],
.theme-dark div[class*="container-"] div[class*="container-1r"]{
  background:var(--td-secondary) !important
}
.theme-dark div[class*="layer-"],
.theme-dark div[class*="layers-"],
.theme-dark div[class*="container-"],
.theme-dark div[class*="chat-"],
.theme-dark div[class*="chat-"] form,
.theme-dark div[class*="content-"],
.theme-dark div[class*="chat-"] div[class*="titleWrapper-"] ~ div[class*="content-"],
.theme-dark nav[class*="privateChannels-"]{
  background:transparent
}
.theme-dark div[class*="nowPlayingColumn-"]{
  background:transparent !important
}
.theme-dark div[class*="activityFeed-"]{
  background:transparent
}
.theme-dark div[class*="listeningAlong-"]{
  background:var(--td-primary)
}
.theme-dark div[class*="friendsTable-"]{
  background:transparent
}
.theme-dark div[class*="friendsTable-"] div[class*="headerBar-"],
.theme-dark div[class*="friendsTable-"] 
.friends-table,
.theme-dark div[class*="friendsTable-"] div[class*="scrollerWrap-"]{background:transparent}
.theme-dark div[class*="friendsTable-"] 
.friends-empty div[class*="wrapper-"]{
  background:transparent
}
.theme-dark div[class^="root-"] div[class*="headerBar-"],
.theme-dark div[class*="channels-"]+div[class*="root-"] div[class*="headerBar-"],
.theme-dark div[class*="container-"] div[class*="headerBar-"],
.theme-dark div[class*="homeWrapper-"] div[class*="headerBar-"],
.theme-dark div[class*="gameLibrary-"] div[class*="headerBar-"],
.theme-dark div[class*="applicationStore"] div[class*="headerBar-"],
.theme-dark div[class*="activityFeed-"] div[class*="headerBar-"]{background:var(--td-secondary)}
.theme-dark div[class*="chat-"] form div[class*="typing-"],
.theme-dark 
.chat form div[class*="typing-"]{
  background:var(--td-secondary)
}
.theme-dark div[class*="standardSidebarView-"]{
  background:transparent
}
.theme-dark div[class*="standardSidebarView-"] div[class*="sidebarRegion-"]{
  background:transparent
}
.theme-dark div[class*="standardSidebarView-"] div[class*="sidebarRegion-"] div[class*="scroller-"]{
  background:var(--td-highlight)
}
.theme-dark div[class*="standardSidebarView-"] div[class*="contentRegion-"]{
  background:transparent
}
.theme-dark div[class*="standardSidebarView-"] div[class*="contentRegion-"] div[class*="scroller-"]{
  background:var(--td-secondary)
}
.theme-dark div[class*="channels-"],
.theme-dark div[class*="base-"] div[class*="sidebar-"]{
  background-color:var(--td-primary) !important
}
.theme-dark div[class*="channels-"] div[class*="container-"]+div[class*="container-"],
.theme-dark div[class*="base-"] div[class*="sidebar-"] div[class*="container-"]+div[class*="container-"]{
  background:transparent
}
.theme-dark div[class*="divider-"] span,
.theme-dark div[class*="dividerRed-"] span{
  background:transparent
}
.theme-dark nav[class*="wrapper-1R"]{
  background:var(--td-highlight)
}
.theme-dark div[class*="videoHeight-"]{
  background:var(--td-secondary)
}
.theme-dark div[class*="circleIconButton-"]{
  background:transparent !important;
  height:53px !important;
  margin-bottom:0 !important;
  padding-bottom:5px !important
}
.theme-dark div[class*="container-11"] div[class*="circleIconButton-"]{
  background:transparent !important
}
.theme-dark div[class*="membersWrap-"] div[class*="content-"]{
  background:transparent
}
.theme-dark div[class*="membersWrap-"] div[class*="members-"]{
  background:var(--td-secondary)
}
.theme-dark div[class*="messagesWrapper-"],
.theme-dark 
.messages-wrapper{
  background:var(--td-secondary) !important
}
.theme-dark div[class*="messagesWrapper-"] div[class*="members-"],
.theme-dark 
.messages-wrapper div[class*="members-"]{
  background:var(--td-secondary)
}
.theme-dark div[class*="messagesWrapper-"] div[class*="members-"] div[class*="content-"],
.theme-dark .messages-wrapper div[class*="members-"] div[class*="content-"]{
  background:transparent
}
.theme-dark div[class^="root-"]{
  background-color:transparent
}
.theme-dark div[class^="root-"] div[class*="scrollerWrap-"]{
  background-color:transparent
}
.theme-dark div[class*="libraryHeader-"]{
  background:var(--td-secondary)
}
.theme-dark div[class*="gameLibrary-"]{
  background:transparent
}
.theme-dark div[class*="gameLibrary-"] div[class*="gameUpdates-"]{
  background:var(--td-primary)
}
.theme-dark div[class*="gameLibrary-"] div[class*="header-"]{
  background:transparent
}
.theme-dark div[class*="gameLibrary-"] button[class*="actionButton"]{
  background:var(--td-highlight)
}
.theme-dark div[class*="gameLibrary-"] div[class*="rowWrapperActive-"]{
  background-color:var(--td-primary)
}
.theme-dark div[class*="applicationStore"]{
  background:transparent
}
.theme-dark div[class*="applicationStore"] div[class*="tileWrapper-"]{
  background:var(--td-primary)
}
.theme-dark div[class*="applicationStore"] div[class*="tileWrapper-"]:hover{
  background:var(--td-highlight)
}
.theme-dark div[class*="applicationStore"] div[class*="searchBox-"]{
  background:var(--td-primary)
}
.theme-dark div[class*="applicationStore"] svg[name="ArrowLeft"]{margin-top:3px}div[class*="channelTextAreaEnabledNoAttach"],div[class*="channelTextArea-"] div[class*="inner-"],div[class*="channelTextAreaEnabled-"] div[class*="inner-"],
.theme-dark div[class*="channelTextAreaDisabled-"] 
div[class*="innerDisabled-"]{
  background:var(--td-secondary)
}div[class*="chat-"] section[class*="title-"]{
  background:transparent
}div[class*="emptyStateLarge-"]{
  background:var(--td-secondary)
}div[class*="homeWrapper-"] div[class*="home-"]{
  background:transparent
}div[class*="homeWrapper-"] footer[class*="footer-"]{
  background-color:transparent
}div[class*="homeWrapper-"] div[class*="tileWrapper-"]{
  background:var(--td-primary)
}div[class*="homeWrapper-"] div[class*="tileWrapper-"]:hover{
  background:var(--td-highlight)
}div[class*="listing-"]{
    background:transparent
}div[class*="listing-"] div[class*="row-"]{
  background:transparent
}div[class*="listing-"] div[class*="root-"],
div[class*="listing-"] div[class*="card-"],
div[class*="listing-"] div[class*="bodySection-"],
div[class*="listing-"] div[class*="guildInvite"] div[class*="content-"]{
  background:var(--td-primary)
}div[class*="isMentioned"]{
  background:rgba(250,166,26,0.1) !important
}