.one-full.column p, .one-full.column h1 {
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #303030;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #292929;
}
/* Change a bit default ModestaCSS values */
.title { margin-bottom: 0; letter-spacing: 2px; }
.fullscreen h1.title { letter-spacing: 2px; }
.box-container p { font-size: 18px; margin-bottom: .2em; }

/* Add some spacing to the info on "second page" for more depth */
.info-container { padding-left: 2.5em; }

/* R e s p o n s i v e */
@media (max-width: 550px) {
  .info-container { padding-left: 0; }
}

@font-face {
  font-family: 'Source Code Pro', monospace;
  src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td  {
  font-family: 'Source Code Pro', monospace;
font-weight:normal;
font-style:normal;
}

#profilepic {
  width : 200px;
  height: auto;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #404047;
}